<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631213541262-9jv7rdbn00ibivpt38faiqh0auphhb59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631213541262-9jv7rdbn00ibivpt38faiqh0auphhb59</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>631213541262-vgua7no9eelt5elm8ec3huic0lpavbf2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNfhy4p_bo-8389DJpwu5CSCbSnr1fe2s</string>
	<key>GCM_SENDER_ID</key>
	<string>631213541262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mostafij.firebaseAuthenticationProject</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-project-a0162</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-project-a0162.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631213541262:ios:21e7c96cf882e9595686df</string>
</dict>
</plist>